/* Contact */

.donate {
  min-height: 70vh;
}

.donate-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--misc);
  min-height: 375px;
}

.donate-text {
  margin-top: 2em;
  color: var(--secondary);
}

.donate-text h2 {
  margin-bottom: 0.5em;
}

.donate-text p {
  margin-bottom: 1em;
}