.spacing-sm>*+* {
  margin-bottom: 1rem;
}

/* banner */
.banner {
  text-align: center;
  padding: 7em 0;
  color: var(--misc);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/banner.jpg");
  background-color: var(--secondary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
}

.banner-text {
  display: flex;
  flex-direction: column;
}

.banner-text h2 {
  font-size: 1.8em;
  text-align: left;
}

.banner-text a {
  width: fit-content;
}

/* welcome Section */
.welcome {
  background: var(--secondary);
  align-items: center;
}

.welcome-text {
  color: var(--misc);
  grid-column: span 4;
  padding: 2em 0;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

.welcome-text a {
  text-align: center;
  width: fit-content;
}

.welcome-img {
  grid-column: span 4;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 2em 0;
}

.welcome-img img {
  width: 300px;
}

/* Programs Section */
.what-we-do {
  background: #fff;
  align-items: center;
}

.programs-text {
  color: var(--secondary);
  grid-column: span 4;
  padding: 2em 0;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.programs-text h2 {
  margin-bottom: 1rem;
  line-height: 1;
}

.programs-text a {
  text-align: center;
  width: fit-content;
  background-color: var(--secondary);
  color: var(--misc);
}

.programs-img {
  grid-column: span 4;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 2em 0;
}

.programs-img img {
  width: 100%;
}

/* Quote Section */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--misc);
  min-height: 325px;
}

.quote h3 {
  width: 70%;
  text-align: center;
  font-weight: 400;
  color: var(--secondary);
  margin-bottom: 1rem;
  /* padding-right: 10em; */
}

.quote .btn {
  background: var(--primary);
  color: var(--secondary);
  max-height: 50px;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(1.1);
  background: var(--primary);
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .banner {
    background-position: center;
  }

  .banner-text {
    align-items: center;
  }

  .banner-text h2 {
    font-size: 1.7em;
    text-align: center;
  }

  .welcome-text {
    grid-column: span 8;
    margin-bottom: 1em;
    padding: 2em 0;
  }

  .welcome-img {
    grid-column: span 8;
    display: none;
  }

  .programs-text {
    grid-column: span 8;
    padding: 2em 0;
  }

  .programs-img {
    grid-column: span 8;
    display: none;
  }

  .quote h3 {
    width: 100%;
  }
}